@{
    ViewBag.Title = "Home Page";
}

<main>
    <!-- Introducción -->
    <section class="row" aria-labelledby="workspacesTitle">
        <center><h1 id="workspacesTitle">Workspaces</h1></center>
        <p class="lead">
            Workspaces te ofrece una solución eficiente para reservar salas de reuniones en las oficinas, optimizando la colaboración y el uso de recursos.
        </p>
    </section>

    <!-- Características principales -->
    <div class="row mt-4">
        <!-- Reservar salas -->
        <div class="col-md-4">
            <div class="card h-100">
                <img src="https://files.oaiusercontent.com/file-8LAgELGpuWiDp7KvmMY8sr?se=2024-12-18T19%3A01%3A13Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Da6ec8e14-5166-45d3-9a90-6b7e62373096.webp&sig=t00g0DGEOR5rv4QsMtCx%2BDovkHcfzclwnVpm3OY%2B60E%3D" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title" id="reservaSalasTitle">Reserva de salas</h2>
                    <p class="card-text">
                        Permite a los empleados visualizar la disponibilidad de salas de reuniones en tiempo real y realizar reservas de manera rápida y sencilla.
                    </p>
                    <a href="#" class="btn btn-outline-dark">Explorar más &raquo;</a>
                </div>
            </div>
        </div>

        <!-- Gestión de reservas -->
        <div class="col-md-4">
            <div class="card h-100">
                <img src="https://files.oaiusercontent.com/file-YQXnzBVSJqSkyNWQJq8x9P?se=2024-12-18T19%3A01%3A13Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D75f4f4e5-edb0-46a1-9474-c446451af091.webp&sig=vICsNXaRzCT9uEk7wbLL7ovJ27u3VxZkWOO8LtcO8d0%3D" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title" id="gestionReservasTitle">Gestión de reservas</h2>
                    <p class="card-text">
                        Los empleados pueden gestionar sus reservas existentes, modificar horarios o cancelar reservas según sea necesario.
                    </p>
                    <a href="#" class="btn btn-outline-dark">Ver detalles &raquo;</a>
                </div>
            </div>
        </div>

        <!-- Estadísticas y administración -->
        <div class="col-md-4">
            <div class="card h-100">
                <img src="https://files.oaiusercontent.com/file-7ZPrL8RJowcoH3iQmPAVVN?se=2024-12-18T19%3A01%3A13Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D53e1dbcc-2bf5-4ea9-9680-e4dd76e5bd95.webp&sig=qhAjjPGapjrMbvUrB0wIVsf0P3%2BLB9MUHoSpzocRqsY%3D" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title" id="estadisticasTitle">Estadísticas y administración</h2>
                    <p class="card-text">
                        Los administradores pueden gestionar las salas, supervisar las reservas y acceder a estadísticas de uso para optimizar la disponibilidad.
                    </p>
                    <a href="#" class="btn btn-outline-dark">Más información &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</main>
